/kart
/keys
/mark
/mpmissions
/addons
/battleye
/curator
/dll
/dta
/expansion
/heli
/vstdlib_s.dll
/arma3server.exe
/arma3server_readme.txt
/ijl15.dll
/msvcr100.dll
/openssl_license.txt
/physx3_x86.dll
/physx3common_x86.dll
/physx3cooking_x86.dll
/physx3gpu_x86.dll
/steam.dll
/steam_api.dll
/steam_appid.txt
/steamclient.dll
/tier0_s.dll
